{{extend "layout2.html"}}
{{block content}}

<body>
    <div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body">
      <h1>
          <center>
              Ver Relatórios Anteriores</center></h1>
        </div>
</div> {{=BR()*2}}


<form action="relat_res">
    <a>Escolha o mês : </a>
    <select name="meses">
        <option value="" selected="selected">
            
        </option>
        <option 
                value="Janeiro">Janeiro</option><option 
                value="Fevereiro">Fevereiro</option><option 
                value="Março">Março</option><option 
                value="Abril">Abril</option><option 
                value="Maio">Maio</option><option 
                value="Junho">Junho</option><option 
                value="Julho">Julho</option><option 
                value="Agosto">Agosto</option><option 
                value="Setembro">Setembro</option><option 
                value="Outubro">Outubro</option><option 
                value="Novembro">Novembro</option><option 
                value="Dezembro">Dezembro</option></select>

    <a>Escolha o ano :</a>
    <select name="anos">
        <option value="" selected="selected">
            
        </option>
        <option 
                value="2007">2007</option><option 
                value="2008">2008</option><option 
                value="2009">2009</option><option 
                value="2010">2010</option><option 
                value="2011">2011</option><option 
                value="2012">2012</option><option 
                value="2013">2013</option><option 
                value="2014">2014</option><option 
                value="2015">2015</option><option 
                value="2016">2016</option><option 
                value="2017">2017</option><option 
                value="2018">2018</option><option 
                value="2019">2019</option><option 
                value="2020">2020</option></select> {{=BR()*2}}
       <input type="submit" label = "Ver Relatório"></form>
    {{=BR()*5}}
</body>
{{end content}}
